<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../views/partials/head'); %>
</head>

<body>
  <%- include('../views/partials/navbar'); %>

  <div class="container py-3">
    <h1>Hola!</h1>
    <h2>Esta es una app correspondiente aluxion API</h2>
  </div>

  <%- include('../views/partials/footer'); %>  
</body>

</html>